 <div class="container">
    

    <div class="homeList">
        {{# each posts }}
            <a href="/posts/{{ this._id }}"+>{{ this.title }}</a>
            <br>
            <div class="divider"></div>
        {{/each}}
    </div>


</div>
